.mmp-img-container {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.mmp-img-container img {
    border: 5px solid black;
    margin-left: 5px;
    margin-left: 5px;
    width: 32%;
    display: inline-block;
}

.mmp-links-container {
    margin-bottom: 25px;
}

.mmp-links-container a {
    color: #5c6b28;
    font-size: 30px;
}
