.res-img-container {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.res-img-container img {
    border: 5px solid black;
    margin-left: 5px;
    margin-left: 5px;
    width: 49%;
    display: inline-block;
}

.res-links-container {
    margin-top: 5px;
    margin-bottom: 25px;
}

.res-links-container a {
    color: #5c6b28;
}

table {
    border-collapse: collapse;
    margin-bottom: 100px;
}

.table-header-row {
    width: 20%; 
    text-align: center;
  }

.res-separator {
border-bottom: 1px solid black;

}